sudo: required
dist: trusty
addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
language: node_js
node_js:
  - '8.11'
before_install:
  - npm i npm@^4 -g
install:
  - npm i
  - npm run build:lib
script:
  - npm run test:lib:ci
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 3
notifications:
  email: false
