<div class="container">
  <div class="jumbotron bg-light">
    <h1 class="display-6">Angular (+7) Youtube Player Component</h1>
    <p class="lead">This is a simple usage of ngx-youtube-player component.</p>
    <hr class="my-4">

    <section class="card card-info text-white bg-dark mb-3">
      <div class="card-header">Demo</div>
      <section class="card-img-top">
        <youtube-player
          [videoId]="id"
          (ready)="savePlayer($event)"
          (change)="onStateChange($event)"
          [playerVars]="playerVars">
        </youtube-player>
      </section>
      <div class="card-body"></div>
    </section>
    <button
      type="button"
      class="btn btn-primary"
      (click)="playVideo()">
      Play
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="pauseVideo()">
      Pause
    </button>
  </div>
</div>

<div class="col-12">
  <section class="card card-success">
    <div class="card-body">
      <div class="card-title">Player State</div>
      <pre>{{ ytEvent }}</pre>
    </div>
  </section>
</div>
